<!doctype html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ socket_links|safe }}
    <br> <br> <br>
    Rose House timers circuits: <p>Date/Time: {{ time_str }}</span></p>
    <p>Sunrise@ {{ suntimes[0] }} and sunset@ {{ suntimes[1] }}</p>

    </head>
    <body>
       <table border = 1>
         <tr>
         {% for title in titles %}
            <th> {{ title }} </th>
         {% endfor %}
         </tr>
         <tr>
            {{ table_row|safe }}
         </tr>
      </table>

      <br><br>
      
      <br><br>
      <div style="clear: left;">
          <p style="float: left;">
              <img src="{{ url_for('static',filename=m_map) }}" alt="User Image">
          </p>
          <br>
          <!-- output the states -->
          {{ state_link|safe  }}
          {% set socket_cfg = config.sockets [socket_name] %}
          {% for state in socket_cfg.states %}
              <p>{{ state.state_txt }}  :  {% if state.active %}
                                             {{ state.power_state }} @ {{ state.activation_time.activation_time_lcl.time() }}
                                           {% else %}
                                            inactive
                                           {% endif %}
              </p>
          {% endfor %}
      </div>
   </body>

   
</html>
  
  
  