<!doctype html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    Rose House timers circuits: <p>Date/Time: <span id="datetime"></span></p>
    <p>Sunrise@ {{ control.sunrise }} and sunset@ {{ control.sunset }}</p>
    
    <script>
    var dt = new Date();
    document.getElementById("datetime").innerHTML = dt.toLocaleString();
    </script>
    </head>
    <body>
       <table border = 1>
         <tr>
         {% for title in titles %}
            <th> {{ title }} </th>
         {% endfor %}
         </tr>
         <tr>
            {{ table_row|safe }}
         </tr>
      </table>


      <!-- output the states -->

      {% set socket_cfg = config.sockets [socket_name] %}
      {% for state in socket_cfg.states %}
          <p>{{ state.state_txt }}</p>
      {% endfor %}
      <p style = "font-family:courier;font-size:16px;"><pre>    00    01    02    03    04    05    06    07    08    09    10    11    12    13    14    15    16    17    18    19    20    21    22    23    00</pre></p>
      <p style = "font-family:courier;font-size:16px;"><pre>    |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |</pre></p>
      <p style = "font-family:courier;font-size:16px;"><pre>pwr: {{ pwr_map }}</pre></p>
      <br><br><br>
      <p style = "font-family:courier;font-size:16px;"><pre>    00    01    02    03    04    05    06    07    08    09    10    11    12    13    14    15    16    17    18    19    20    21    22    23</pre></p>
      <p style = "font-family:courier;font-size:16px;"><pre>    |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |</pre></p>
      {% for daymap in ovr_map %}
         <p style = "font-family:courier;font-size:16px;"><pre>pwr: {{ daymap }}</pre></p>
      {% endfor %}
   </body>

   
</html>
  
  
  