<!doctype html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    Rose House timers circuits: <p>Date/Time: <span id="datetime"></span></p>
    <p>Sunrise@ {{ control.sunrise.dt }} and sunset@ {{ control.sunset.dt }}</p>
    
    <script>
    var dt = new Date();
    document.getElementById("datetime").innerHTML = dt.toLocaleString();
    </script>
    </head>
    <body>
      <table border = 1>
         <tr>
         {% for title in titles %}
            <th> {{ title }} </th>
         {% endfor %}
         </tr>
         {{ table_rows|safe }}
      </table>

   </body>
   
</html>
  
